<h2>会員詳細</h2>

<%= image_tag @customer.get_customer_image(100,100) %>
<%= @customer.name %>
<%= (Date.today.strftime("%Y%m%d").to_i - @customer.date_of_birth.strftime("%Y%m%d").to_i) / 10000 %>歳

<%= Customer.genders_i18n[:"#{@customer.gender}"] %>
<%= @customer.chess_ability %>
<%= @customer.profile %>

<% if @customer.id==current_customer.id %>
  <%= link_to "編集する",edit_customer_path(@customer.id) %>
<% end %>

<p>投稿履歴一覧</p>
<table>
  <thead>
    <tr>
      <th>対局場名</th>
      <th>説明</th>
      <th></th>
    </tr>
    <% @post_shogi_places.each do |post_shogi_place| %>
      <tr>
        <td><%= post_shogi_place.name %></td>
        <td><%= post_shogi_place.explanation %></td>
        <% if @customer.id==current_customer.id %>
          <td><%= link_to "編集",edit_post_shogi_place_path(post_shogi_place.id) %></td>
          <td><%= link_to "削除",post_shogi_place_path(post_shogi_place.id),method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </thead>
</table>

<p>お気に入り</p>
