<h2>会員情報編集</h2>

<% if @customer.errors.any? %>
<%= @customer.errors.count %>件のエラーが発生しました。
  <% @customer.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<%= image_tag @customer.get_customer_image(80,80) %>

<p>会員id</p>
<%= @customer.id %>

<%= form_with model:@customer,url:admin_customer_path(@customer.id),method: :patch do |f| %>
  <label for="name">ニックネーム</label>
  <%= f.text_field:name,id:"name" %><br>

  <label for="email">メールアドレス</label>
  <%= f.email_field:email,id:"email" %><br>

  <p>生年月日</p>
  <%= f.date_select :date_of_birth,use_month_numbers: true,start_year: 1920,end_year: (Time.now.year) %>

  <p>性別</p>
  <%= f.radio_button:gender,"male" %>
  <%= f.label:gender,"男性",{style: "display: inline-block;"} %>
  <%= f.radio_button:gender,"woman" %>
  <%= f.label:gender,"女性",{style: "display: inline-block;"} %><br>

  <label for="ability">棋力</label>
  <%= f.text_field:chess_ability,id:"ability" %><br>

  <label for="profile">プロフィール</label>
  <%= f.text_area:profile,id:"profile" %><br>

  <p>会員ステータス</p>
  <%= f.radio_button:membership_status,"member" %>
  <%= f.label:membership_status,"有効",{style: "display: inline-block;"} %>
  <%= f.radio_button:membership_status,"withdrawal" %>
  <%= f.label:membership_status,"退会",{style: "display: inline-block;"} %>
  <%= f.radio_button:membership_status,"stop" %>
  <%= f.label:membership_status,"停止",{style: "display: inline-block;"} %><br>

  <%= f.submit"更新する" %>

<% end %>