<div class="container">
  <h2 class="text-center mt-5 mb-5">会員一覧</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 35%">プロフィール画像</th>
        <th style="width: 35%">ニックネーム</th>
        <th style="width: 10%">年齢</th>
        <th style="width: 10%">性別</th>
        <th style="width: 10%">棋力</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= image_tag customer.get_customer_image(80,80) %></td>
          <td class="align-middle"><%= link_to customer.name,admin_customer_path(customer.id) %></td>
          <td class="align-middle"><%= (Date.today.strftime("%Y%m%d").to_i - customer.date_of_birth.strftime("%Y%m%d").to_i) / 10000 %>歳
          </td>
          <td class="align-middle"><%= Customer.genders_i18n[:"#{customer.gender}"] %></td>
          <td class="align-middle"><%= customer.chess_ability %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @customers %>

</div>