<h2>会員詳細</h2>

<%= image_tag @customer.get_customer_image(80,80) %>
<p>会員id　</p><%= @customer.id %>
<p>ニックネーム</p><%= @customer.name %>
<p>メールアドレス</p><%= @customer.email %>
<p>生年月日</p><%= @customer.date_of_birth %>
<p>性別</p><%= Customer.genders_i18n[:"#{@customer.gender}"] %>
<p>棋力</p><%= @customer.chess_ability %>
<p>プロフィール</p><%= @customer.profile %>
<p>会員ステータス</p><%= Customer.membership_statuses_i18n[:"#{@customer.membership_status}"] %>
<%= link_to "編集する",edit_admin_customer_path(@customer.id) %>

<p>投稿履歴一覧</p>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>対局場所名</th>
      <th>説明</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @post_shogi_places.each do |post_shogi_place| %>
    <tr>
      <td><%= image_tag post_shogi_place.get_shogi_place_image(80,80) %></td>
      <td><%= post_shogi_place.name %></td>
      <td><%= post_shogi_place.explanation %></td>
      <td><%= link_to "詳細",admin_post_shogi_place_path(post_shogi_place.id) %></td>
    <% end %>
    </tr>
  </tbody>
</table>

<%= paginate @post_shogi_places %>

<p>コメント履歴一覧</p>
<table>
  <thead>
    <tr>
      <th>対局場所名</th>
      <th>コメント内容</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @postcomments.each do |postcomment| %>
    <tr>
      <td><%= postcomment.post_shogi_place.name %></td>
      <td><%= postcomment.comment %></td>
      <td><%= link_to "削除",admin_post_shogi_place_postcomment_path(postcomment.post_shogi_place,postcomment),method: :delete,"data-confirm"=>"本当に削除しますか？" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @postcomments %>