<h2>投稿一覧</h2>

<%= form_tag admin_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :target_audience_id,
    options_from_collection_for_select(TargetAudience.all, :id, :name, params[:target_audience_id]),
    {
      prompt:'対象者絞り込み検索',
      onchange:'submit(this.from);'
    }
  %>
    <% end %>

<%= form_with url:admin_multi_criteria_search_path,method: :get,local: true do |f| %>
  <%= f.select:prefecture_id,options_from_collection_for_select(Prefecture.all,:id,:name),{include_blank:'選択してください'},{required:true} %><br>
  <%= select_tag :target_audience_id,
    options_from_collection_for_select(TargetAudience.all, :id, :name, params[:target_audience_id])
  %>
  <%= f.submit :multi_criteria_search %>
<% end %>

<%= render 'admin/post_shogi_places/list',post_shogi_places:@post_shogi_places %>

<p>タグ検索</p>
<!--タグリスト-->
<% @tags.each do |tag| %>
　<% unless tag.post_shogi_place.count==0 %>
    <%= link_to tag.name,admin_search_tag_path(tag_id: tag.id) %>
    <%= "(#{tag.post_shogi_place.count})" %>
  <% end %>
<% end %>

<%= paginate @post_shogi_places %>
