<% post_shogi_places.each do |post_shogi_place| %>
  <div class="row border mb-3 p-2">
    <div class="col-3">
      <%= image_tag post_shogi_place.get_shogi_place_image(150,150) %>
    </div>
    <div class="col-9">
      <p><%= link_to post_shogi_place.name,post_shogi_place_path(post_shogi_place.id) %></p>
      <p>住所：<%= post_shogi_place.address %></p>
      <p class="explanation">説明：<%= post_shogi_place.explanation %></p>
      <p>対象者</p>
      <% post_shogi_place.target_audiences.each do |target_audience| %>
        ・<%= target_audience.name %>
      <% end %>
    </div>
  </div>
<% end %>