<h2>投稿一覧</h2>

<%= form_tag post_shogi_places_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :target_audience_id,
    options_from_collection_for_select(TargetAudiences.all, :id, :name, params[:target_audience_id]),
    {
      prompt:'タグで絞り込み検索',
      onchange:'submit(this.from);'
    }
  %>
    <% end %>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>対局場所名</th>
      <th>都道府県</th>
      <th>住所</th>
      <th>対象者</th>
    </tr>
  </thead>

  <tbody>
    <% @post_shogi_places.each do |post_shogi_place| %>

      <tr>
        <td><%= image_tag post_shogi_place.get_shogi_place_image(80,80) %>
          <i class="fas fa-tag"><%= post_shogi_place.tags.map(&:name).join('、') %></i>
        </td>
        <td><%= link_to post_shogi_place.name,post_shogi_place_path(post_shogi_place.id) %></td>
        <td><%= post_shogi_place.prefecture.name %></td>
        <td><%= post_shogi_place.address %></td>
        <% post_shogi_place.target_audiences.each do |target_audience| %>
          <td><%= target_audience.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<!--タグリスト-->
<% @tags.each do |tag| %>
  <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
  <%= "(#{tag.post_shogi_place.count})" %>
<% end %>


<%= paginate @post_shogi_places %>
