<div class="container">
  <h2 class="text-center mt-5 mb-5">投稿一覧</h2>

  <div class="row justify-content-between mb-3">
    <div class="col-sm-6 col-12">
      <p>都道府県と対象者で絞り込み</p>
      <%= form_with url:multi_criteria_search_path,method: :get,local: true do |f| %>
        <p>都道府県　<%= f.select:prefecture_id,options_from_collection_for_select(Prefecture.all,:id,:name),{include_blank:'選択してください'},{required:true} %></p>
        <p>　対象者　<%= select_tag :target_audience_id,
          options_from_collection_for_select(TargetAudience.all, :id, :name, params[:target_audience_id]) %>
        <%= f.submit"検索",class:"inline-block" %>
        </p>
      <% end %>
    </div>
    <div class="d-flex justify-content-end align-items-end col-sm-6 col-12">
      <%= link_to "新規投稿",new_post_shogi_place_path,class:"btn btn-success" %>
    </div>
  </div>



  <%= render'list',post_shogi_places:@post_shogi_places %>

  <%= paginate @post_shogi_places %>

  <p class="mt-5">タグ一覧</p>
  <!--タグリスト-->
  <% @tags.each do |tag| %>
  　<% unless tag.post_shogi_place.count==0 %>
      <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
      <%= "(#{tag.post_shogi_place.count})" %>
    <% end %>
  <% end %>

</div>