<h2>対局場所新規投稿</h2>

<%= form_with model:@post_shogi_place,url:post_shogi_places_path,method: :post do |f| %>
  <label for="name">対局場所名</label>
  <%= f.text_field:name,id:"name" %>

  <p>都道府県</p>
  <%= f.select:prefecture_id,options_from_collection_for_select(Prefecture.all,:id,:name),{include_blank:'選択してください'},{required:true} %><br>

　<label for="address">住所</label>
　<%= f.text_field:address,id:"address",placeholder:"住所を入力してください" %><br>


  <label for="telephone">電話番号</label>
  <%= f.text_field:telephone_number,id:"telephone" %>

  <p>画像</p>
  <%= f.file_field:shogi_place_image,accept:"image/*" %>

  <p>タグ<</p>
  <p>、で区切ることで複数のタグをつけることができます</p>
  <%= f.text_field:tag_name %>

  <p>対象者</p>

  <%= f.collection_check_boxes(:target_audience_ids, TargetAudience.all , :id, :name) do |target_audience| %>
    <div>
      <%= target_audience.label do %>
        <%= target_audience.check_box %>
        <%= target_audience.text %>
      <% end %>
    </div>
  <% end %>


  <label for="explanation">説明</label>
  <%= f.text_area:explanation,id:"explanation",placeholder:"どんなところか、雰囲気、感想などを入力してください" %><br>

  <%= f.submit'投稿する' %>
<% end %>