<div class="container">

  <h2>対局場所詳細</h2>

  <% if @postcomment.errors.any? %>
    <%= @postcomment.errors.count %>件のエラーが発生しました
    <% @postcomment.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
  <% end %>


  <div class="row">
    <div class="col-5">
      <%= image_tag @post_shogi_place.get_shogi_place_image(200,200) %>
      <!--タグリスト-->
      <% @tags.each do |tag| %>
        <%= tag.name %>
      <% end %>

      <br>
      <%= image_tag @post_shogi_place.customer.get_customer_image(80,80) %>
      <%= link_to @post_shogi_place.customer.name,customer_path(@post_shogi_place.customer.id) %><br>
      <p>投稿日</p>
      <%= @post_shogi_place.created_at.strftime("%Y年%m月%d日") %>

      <%= "コメント数"+"#{@post_shogi_place.postcomments.count}" %>
      <% if @post_shogi_place.favorited_by?(current_customer) %>
        <p>
          <%= link_to post_shogi_place_favorites_path(@post_shogi_place),method: :delete do %>
          ❤<%= @post_shogi_place.favorites.count %>いいね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to post_shogi_place_favorites_path(@post_shogi_place),method: :post do %>
          ♡<%= @post_shogi_place.favorites.count %>いいね
          <% end %>
        </p>
      <% end %>


      <% if @post_shogi_place.customer.id==current_customer.id %>
        <%= link_to "投稿編集",edit_post_shogi_place_path(@post_shogi_place.id) %>
        <%= link_to "投稿削除",post_shogi_place_path(@post_shogi_place.id),method: :delete,"data-confirm"=>"本当に削除しますか？" %>
      <% end %>
    </div>

    <div class="col-5">
      <p>対局場所名</p>
      <%= @post_shogi_place.name %>

      <p>場所</p>
      <%= @post_shogi_place.prefecture.name %>

      <p>住所</p>
      <%= @post_shogi_place.address %>

       <!-- Googleマップ表示エリア(地図を表示) -->
      <div style="width:400px; height:400px;" id="map"></div>

      <!-- Googleマップ表示用の Javascript -->
      <script>
        function initMap(){
        // 地図の位置情報(緯度・経度)を取得
        let mapPosition = {lat: <%= @post_shogi_place.latitude || 0 %> , lng: <%= @post_shogi_place.longitude || 0 %> };
        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: mapPosition
        });
        let transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        let contentString = '【住所】<%= @post_shogi_place.address %>';
        let infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        let marker = new google.maps.Marker({
          position: mapPosition,
          map: map,
          title: contentString
        });

        marker.addListener('click', function(){
          infowindow.open(map, marker);
        });
      }
      </script>

      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>


      <p>電話番号</p>
      <%= @post_shogi_place.telephone_number %>

      <p>対象者</p>
      <% @post_shogi_place.target_audiences.each do |target_audience| %>
        <%= target_audience.name %>
      <% end %>

      <p>説明</p>
      <%= @post_shogi_place.explanation %>
    </div>
  </div>
</div>

<%= @post_shogi_place.postcomments.count %>件のコメント

<table>
  <thead>
    <tr>
      <th>コメント者</th>
      <th>コメント日</th>
      <th>コメント内容</th>
    </tr>
  </thead>

  <tbody>
    <% @postcomments.each do |postcomment| %>
      <tr>
        <th><%= image_tag postcomment.customer.get_customer_image(80,80) %>
            <%= postcomment.customer.name %></th>
        <td><%= postcomment.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= postcomment.comment %>
            <% if postcomment.customer==current_customer %>
             <%= link_to "コメント削除",post_shogi_place_postcomment_path(postcomment.post_shogi_place,postcomment),method: :delete %></td>
            <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @postcomments %>
<p>コメントする</p>

<%= form_with model:[@post_shogi_place,@postcomment] do |f| %>
  <%= f.text_area:comment,rows:"5",placeholder:"コメントをここに" %>
  <%= f.submit"送信する" %>
<% end %>