<h2>タグが"<%= @tag.name %>"の投稿一覧</h2>

<%= render 'list',post_shogi_places:@post_shogi_places %>

<!--タグリスト-->
<% @tags.each do |tag| %>
  <% unless tag.post_shogi_place.count==0 %>
    <%= link_to tag.name,admin_search_tag_path(tag_id: tag.id) %>
    <%= "(#{tag.post_shogi_place.count})" %>
  <% end %>
<% end %>

<%= link_to "投稿一覧へ戻る",admin_path %>
