<!DOCTYPE html>
<html>
  <head>
    <title>ShogiPlace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
        <%= link_to "会員一覧",customers_path %>
        <%= link_to "投稿一覧",post_shogi_places_path %>
        <%= link_to "新規投稿",new_post_shogi_place_path %>
        <%= link_to "マイページ",customer_path(current_customer.id) %>
        <%= link_to "ログアウト",destroy_customer_session_path,method: :delete %>
      <% elsif admin_signed_in? %>
        <%= link_to "会員一覧",admin_customers_path %>
        <%= link_to "投稿一覧",admin_path %>
        <%= link_to "ログアウト",destroy_admin_session_path,method: :delete %>
      <% else %>
        <%= link_to "About",about_path %>
        <%= link_to "新規登録",new_customer_registration_path %>
        <%= link_to "ログイン",customer_session_path %>
        <%= link_to "ゲストログイン（閲覧用）",customers_guest_sign_in_path,method: :post %>
      <% end %>

      <div class="search_form">
        <%= form_with url: search_keyword_path,local: true,method: :get do |f| %>
          <%= f.text_field:word %>
          <%= f.select :range,options_for_select([['対局場所名'],['住所']]) %>
          <%= f.submit"検索" %>
        <% end %>
      </div>

    </header>

    <main>
      <% flash.each do |message_type, message| %>
        <%= content_tag :div, message, class: message_type %>
      <% end %>

    <%= yield %>
    </main>
    <footer>
      <p>©️️️All rights reserved by shogi_place</p>
    </footer>
  </body>
</html>
